@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: rgb(24, 19, 19);
}

#navbar {
  width: 100vw;
  height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar .logo {
  width: 15vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#navbar .logo span {
  position: absolute;
  left: 10%;
}

#navbar .logo span:hover {
  text-decoration: underline;
}

#navbar .logo img {
  width: 8vw;
  height: 10vh;
  object-fit: contain;
}

#navbar .items {
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar .items ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#navbar .items ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

#navbar .items ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 966px) {
  #navbar .items {
    width: 30vw;
  }
}

@media screen and (max-width: 650px) {
  #navbar .items {
    width: 40vw;
  }
  #navbar .logo img {
    width: 15vw;
    margin-left: -4vw;
  }
}

@media screen and (max-width: 500px) {
  #navbar .items {
    width: 45vw;
  }
  #navbar .logo img {
    width: 15vw;
    margin-left: -4vw;
  }
}

@media screen and (max-width: 430px) {
  #navbar .items {
    width: 50vw;
  }
  #navbar .logo img {
    width: 15vw;
    margin-left: -4vw;
  }
}

@media screen and (max-width: 375px) {
  #navbar .items {
    width: 60vw;
  }
  #navbar .logo img {
    width: 15vw;
    margin-left: -4vw;
  }
}

/* <!-- !!!!!!!!!!!!!1navbar ends here!!!!!!!!!!!!!!!!!! --> */

#main1 {
  width: 100vw;
  height: 70vh;
  background-color: rgb(24, 19, 19);
  border-bottom: 2px solid black;
}

#main1 h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 6vw;
  color: white;
}

#main1 h1:nth-child(2) {
  margin-top: -5vh;
  margin-left: -10vw;
}

#main1 p {
  text-align: center;
  font-size: 2vw;
  color: grey;
}

#main1 .btn {
  font-family: "Poppins", sans-serif;
  width: 15vw;
  height: 10vh;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1.1vw;
  margin-left: 20vw;
}

#main1 h4 {
  margin-left: 20vw;
  color: white;
  margin-top: 2vh;
}

@media screen and (max-width: 1161px) {
  #main1 h1:nth-child(2) {
    margin-top: -2vh;
    margin-left: -8vw;
  }
}

@media screen and (max-width: 1020px) {
  #main1{
    height: 40vh;
   }
   
    #main1 h1 {
      margin-left: -12vw;
    }
    #main1 p {
      font-size: 3vw;
      margin-left: -12vw;
    }
  
  #main1 {
    height: 50vh;
  }
  
  #main1 h1:nth-child(1) {
    margin-top: 5vh;
  }
  #main1 .btn {
    height: 7vh;
    margin-top: 3vh;
  }
}

@media screen and (max-width: 850px) {
  #main1{
    height: 40vh;
   }
   
    #main1 h1 {
      margin-left: -12vw;
    }
    #main1 p {
      font-size: 3vw;
      margin-left: -12vw;
    }
  #main1 .btn {
    height: 5vh;
    margin-top: 3vh;
    font-size: 1.2vw;
  }
  #main1 p {
    margin-top: 2vh;
  }
}

@media screen and (max-width: 600px) {
 #main1{
  height: 40vh;
 }
 
  #main1 h1 {
    margin-left: -12vw;
  }
  #main1 p {
    font-size: 3vw;
    margin-left: -12vw;
  }
  #main1 h1 {
    font-size: 2rem;
  }
  #main1 h1:nth-child(2) {
    margin-top: -2vh;
    margin-left: -10vw;
  }
  #main1 .btn {
    height: 4vh;
    font-size: 2vw;
    width: 20vw;
  }
  #main1 h4 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 550px) {
  #mai1{
    height: 15vh;
  }
  
  #main1 h1 {
    margin-left: -12vw;
  }
  #main1 p {
    font-size: 3vw;
    margin-left: -12vw;
  }
  #main1 h1:nth-child(2) {
    margin-top: -1vh;
    margin-left: -10vw;
  }
  #main1 .btn {
    height: 3vh;
    width: 25vw;
    font-size: 2vw;
  }
}

/* !!!!!!!!main1 ends here!!!!!!!!!!!!1 */

.Fh3 {
  font-size: 1.5vw;
  color: white;
  text-align: center;
  margin-top: 10vh;
  font-family: monospace;
}
.Fh3 span {
  color: blue;
}

.Sh3 {
  margin-top: 4vh;
  font-size: 1vw;
  color: white;
  text-align: center;
  font-family: monospace;
}

#box {
  font-family: monospace;
  width: 70vw;
  margin: auto;
  height: 70vh;
  margin-top: 5vh;
  border: 2px solid black;
  box-shadow: 5px 10px 100px white;
  color: white;
}

#box p {
  margin-top: 3vh;
  margin-left: 5vw;
  color: grey;
}
#box h3 {
  margin-top: 4vh;
  margin-left: 3vw;
}
#box p span {
  color: blue;
  font-size: 1vw;
}

.spans {
  margin-top: 3vh;
}

.s1 {
  color: green;
  margin-left: 5vw;
  font-size: 1vw;
}
.s2 {
  color: orange;
  font-size: 1vw;
}

@media screen and (max-width: 1050px) {
  #box{
    height: 50vh;
  }
  }

@media screen and (max-width: 850px) {
.Fh3{
  font-size: 3vw;
  margin: 4vh;
}
.Sh3{
  font-size:2vw ;
}
#box{
  height: 50vh;
}
#box .spans .s1{
  font-size:1.5vw ;
}
#box .spans .s2{
  font-size:1.5vw ;
}
}


@media screen and (max-width: 550px) {
  .Fh3{
    font-size: 3vw;
  }
  .Sh3{
    font-size:2vw ;
  }

  #box{
    height: 50vh;
  }

  #box h3{
    font-size: 2vw;
  }
  #box p{
    font-size: 2vw;
  }
  #box p{
font-size: 2.5vw;
  }
  #box p span{
    font-size: 1.5vw;
  }

  #box .spans .s1{
    font-size:2vw ;
  }
  #box .spans .s2{
    font-size:2vw ;
  }
  }
